* {
  margin: 0px;
}

html, body {
  height: 100%;
}

#container {
  padding-bottom: 100px;
}

.logo {
  /* position: fixed; */
  background-color: #00243f;
  display: flex;
}

.logo img {
  margin-left: 10px;
  height: 72px;
  width: 200px;
}

.welcome {
  background-size: cover;
  width: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  margin: 0px;
  margin: auto;
  background-image: url(../img/blue-and-purple-cosmic-sky-956999.jpg);
}

.welcome h1 {
  justify-content: center;
  padding-top: 6em;
  padding-bottom: 6em;
  color: white;
  font-size: 50px;
}

.stand-out {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.stand-out img {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
}

.stand-out div {
  width: 95%;
  margin: auto;
}

h1{
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

/* #b67929 #a3acb1 #3c5b74 #264b77 #00243f */

.verHist {
  width: 95%;
  margin: auto;
  border:1px solid #021a40;
}

body {
  background-color: white;
}

.navbar {
    background-color: #264b77;
    display: flex;
    justify-content: flex-start;
  }
  
.navbar a {
    color: white;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  }

.navbar a:hover {
  background-color: #ed2b54;
  color: white;
  padding: 10px;
  margin: 0px;
}

.active {
  background-color: #ed2b54;
  color: black;
}

.history {
  width: 95%;
  margin: auto;
}

.about {
  width: 95%;
  margin: auto;
  padding-top: 15px;
}

footer {
  background-color: #00243f;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  position: absolute;
}

.social-media {
  height: 35px;
  padding: 10px;
}

footer h2 {
  font-size: 20px;
  color: white;
}

footer p {
  font-size: 18px;
  color: white;
}

@media only screen and (min-width: 768) {

  footer {
    /* margin-top: -100px; */
  }
  
}