* {
  margin: 0px;
}

.logo {
  /* position: fixed; */
  background-color: #00243f;
  display: flex;
}

.logo img {
  margin-left: 10px;
  height: 72px;
  width: 200px;
}

.welcome {
  width: 95%;
  margin: auto;
}

h1{
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

/* #b67929 #a3acb1 #3c5b74 #264b77 #00243f */

.verHist {
  width: 95%;
  margin: auto;
  border:1px solid #021a40;
}

body {
  background-color: #fbf4e1;
}

.navbar {
    background-color: #264b77;
    display: flex;
    justify-content: flex-start;
  }
  
.navbar a {
    color: #fbf4e1;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  }

.navbar a:hover {
  background-color: #ed2b54;
  color: #fbf4e1;
  padding: 10px;
  margin: 0px;
}

.active {
  background-color: #ed2b54;
  color: black;
}

.end {
  background-color: #00243f;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.history {
  width: 95%;
  margin: auto;
}

.about {
  width: 95%;
  margin: auto;
}

.end h2 {
  font-size: 20px;
  color: #fbf4e1;
}

.end p {
  font-size: 18px;
  color: #fbf4e1;
}

footer {
  display: flex;
  justify-content: left;
  background-color: #00243f;
  color: #fbf4e1;
  font-size: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}